body {
  font-family: "Roboto", sans-serif;
  font-style: 14px;
  color: #0A143A; /*цвет текста*/
}
.header {
    max-width: 1146px; /*максимальная ширина*/
    margin: auto; /*автоматическое виравнивание п середине*/
    padding-top: 30px;
}
.navbar {
    display: flex; /*делаем гибкий блок*/
    align-items: center;    /*віравниваем по вертикали по центру*/
    justify-content: space-between; /*разбросать єлементі по краям*/
    margin-bottom: 24px;
}
.navbar-menu {
    margin-right: auto; /*автоматический отступ справа*/
}
.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
}
/* для всех пунктов меню кроме последнего */
.menu-item:not(:last-child) {
    margin-right: 14px;  /*отступ справа 14пикселей*/
}
.menu-link {
    text-decoration: none;
    color: inherit; /*возьми цвет текста как у родителя body*/
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}
.button-link {
    color: inherit;
}
.button-primary {
    background: #256EEB;
    border-radius: 5px;
    color: white;
}
.search-panel {
    height: 50px;
    background: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search-input {
    flex-grow: 1; /*растягивается на все свободное место*/
    background: #fff;
    border-radius: 5px;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
}
.search-button {
    background: #256EEB;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}
.search-button-text {
    margin-left: 5px;
}