* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: 14px;
  color: #0a143a; /*цвет текста*/
}
.container {
  max-width: 1146px; /*максимальная ширина*/
  margin: auto; /*автоматическое виравнивание п середине*/
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.navbar {
  display: flex; /*делаем гибкий блок*/
  align-items: center; /*віравниваем по вертикали по центру*/
  justify-content: space-between; /*разбросать єлементі по краям*/
  margin-bottom: 24px;
}
.navbar-panel {
  flex-grow: 1;  /*растянуть по ширине*/
  display: flex; /*сделать гибким*/
  align-items: center; /*віровнять по середине*/
}
.navbar-menu {
  margin-right: auto; /*автоматический отступ справа*/
}
.menu {
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}
/* для всех пунктов меню кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px; /*отступ справа 14пикселей*/
}
.menu-link {
  text-decoration: none;
  color: inherit; /*возьми цвет текста как у родителя body*/
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: white;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1; /*растягивается на все свободное место*/
  background: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 10px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
  margin-right: 20px;
}
.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 264px;
}
.like {
    background: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.card-link {
    text-decoration: none;
}
.card-price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}
.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 4px;
    margin-top: 0;
}
.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}
.service {
    margin-bottom: 25px;
}
.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.service-text {
    font-style: 14px;
    line-height: 16px;
    max-width: 217px;
}
.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}
.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}
.footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}
.main-single {
  display: flex;
  align-items: start;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}
    .swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      width: 100%;
      border-radius: 10px;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
      border-radius: 10px;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3px;
    }
    .content-text {
      font-size: 14px;
      line-height: 140%;
    }
.single-price {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
  display: block;
}
.page-title {
  margin-top: 0;
  margin-bottom: 25px;
}
.author {
   min-width: 264px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  margin-top: 25px;
  margin-bottom: 30px;
}
.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}
.raiting {
  margin-bottom: 5px;
}
.raiting_counter {
  margin-left: 10px;
  opacity: 0.5;
}
.author-status {
  font-size: 12px;
  line-height: 14px;
}
.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-success {
  background-color: #14B4BE;
  border-radius: 5px;
  color: #fff;
}
.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none; /*отключить кнопку везде*/
}
.close-menu {
  display: none;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 45%;
  }
  .card-image {
    width: 100%;
    height: 200px;
  }
  .card-header {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .card-image {
    height: 150px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .card {
    width: 100%;
  }
  .page-content {
    grid-template-columns: 8fr 4fr;
  }
  .menu-button {
    display: block;
  }
  .close-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
  }
  .navbar-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    flex-direction: column; /* выстроить дочерние элементы в столбец */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0.2s;
    transform: translateX(100%); /*уберем меню в сторону, его не будет видно*/
    opacity: 0;
  }
  .is-open {
    transform: translateX(0%);
    opacity: 1;
  }
  .navbar-menu {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .button-group {
    display: flex;
    flex-direction: column;

  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .page-content {
    grid-template-columns: 12fr;
  }
  .card-image {
    height: 250px;
  }
  .card {
    margin-right: 0;
  }
  .search-button-text {
    display: none;
  }
}